@charset "UTF-8";

@font-face {
    font-family: 'Passion';
    src: url(../fontes/PassionOne-Bold.ttf) format(truetype);
}

@font-face {
    font-family: 'Sriracha';
    src: url(../fontes/Sriracha-Regular.ttf) format(truetype);
}

:root {
    --fontpadrao: Verdana, Geneva, Tahoma, sans-serif;
    --fontdestaque: 'Passion', cursive;
    --fontverso: 'Sriracha', cursive;
}

* {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

html, body {
    min-height: 100vh;
    font-family: var(--fontpadrao);
}

body {
    background-color: #fff;
    padding: 0;
}

header {
    background-color: #000;
    padding-bottom: 50px;
}

header > h1 {
    color: #fff;
    text-align: center;
    padding: 50px 0px 0px 0px;
    font-family: var(--fontdestaque);
    font-size: 10vw;
    font-variant: small-caps;
}   

header > p {
    padding-bottom: 50px;
    color: #fff;
    text-align: center;
}

a {
    text-decoration: none;
    font-weight: bolder;
    color: #fff;
}

a:hover {
    text-decoration: underline;
}

section {
    padding: 10vh 0 10vh 30px;
    line-height: 2em;
    font-family: var(--fontverso);
    font-size: 3.5vw;
}

section p {
    padding-bottom: 2em;
}

section.normal {
    background-color: #fff;
    color: #000;
}

section.imagem {
    background-color: #1b1b1b;
    color: #fff;
    box-shadow: inset 6px 6px 13px 0 rgba(0, 0, 0, 0.473 );
    background-attachment: fixed;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.253);
    padding: 5px;
    display: inline-block;
    text-shadow: 1px 1px 0px #000;
}

section#img01 {
    background-image: url(../imagens/background001.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
}

section#img02 {
    background-image: url(../imagens/background002.jpg);
    background-size: cover;

}

footer {
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 10px;
}
